.index-banner
{
    /* background: url('../img/heroimg.jpg') no-repeat scroll center; */
    min-height: 500px;
    max-height: 500px;
    position: relative;
}

.index-row
{
    min-height: 500px;
    /*min-height: 100vh;*/

    display: flex;
    align-items: center;
}

.index-col
{
    background-color: rgba(52, 152, 219, .95);
    color: #EAEAEA;
}

.index-col small
{
    color: #B0B0B0;
}

.content-project
{
    margin-top: 20px;
}

.content-project .well
{
    text-align: center;
}

.proj-row
{
    /* margin-top: 20px; */
    min-height: 150px;
    /* display: flex; */
    align-items: center;
}

.proj-row img
{
    border-radius: 2%;
    max-height: 150px;
    max-width: 150px;
}
