.navShow {
    background: #3498DB;
    display: none;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    font-size: 1.5rem;
    color: #FFFFFF;
    position: fixed;
}

.navMenu {
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navList {
    background: #3498DB;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
}

.navListItem {
    display: inline-block;
    float: left;
}

.navListItem.menuButton {
    display: none;
}

.navMenu a {
    text-decoration: none;
    color: #FFFFFF;
}

.navMenu .navListItem:hover {
    background-color: #0F639B;
}

.navButton {
    padding: 10px 10px;
}

.linkLabel {
    padding: 6px 0px;
}

body
{
    background-color: #EAEAEA;
    font-family: 'Open Sans', sans-serif;
    margin: 0px 0px;
}

@media(max-width: 500px)
{
    .navShow {
        display: block;
        width: 100%;
        z-index: 100;
    }

    .navShow:hover {
        background-color: #0F639B;
    }

    .navList {
        font-size: 1.25rem;
    }

    .navListItem {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #FFFFFF;
        display: none;
    }

    .navListItem.menuButton {
        display: block;
    }
}
