.main-content__project-section {
    padding: 10px;
}

.project-section__info-paragraph {
    line-height: 25px;
}

.project-section__demo-section {
    padding: 20px;
}

.source-code__link {
    margin: 0 5px;
    font-family: 'Inconsolata';
}

.source-code__link button {
    font-family: 'Inconsolata';
    font-weight: 500;
    border: 1px solid transparent;
    padding: 5px 10px;
    background: #4987af;
    color: #ffffff;
    width: 8rem;
    transition: background 200ms linear, color 200ms linear, border 200ms linear;
}

.source-code__link:hover button {
    cursor: pointer;
    border: 1px solid #4987af;
    background: #ffffff;
    color: #4987af;
}
